body {
    background-color: #fffcfc;
}

.carousel-item>img {
    height: 600px;
}


.pacakge-section .card {
    height: 500px;
    background-color: #f5f2f2;
    border: 0;
    border-radius: 15px;
}

.pacakge-section a {
    color: blue;
    background-color: #f2eaea;
    border-radius: 10px;
    font-weight: 700;
}

.happy-clients img {
    height: 100px;
    width: 100px;
}

footer {
    background-color: #000000;
}

footer img {
    height: 50px;
    padding-right: 60px;
}